

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn-nav {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: -5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;  
  border-radius: 0px;

  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  border-bottom: 5px solid #fff;
  text-decoration: none;
}

li.dropdown > a.btn-nav {
  border-radius: 0px;
}

li.dropdown > a.btn-nav:hover,
li.dropdown > a.btn-nav:active,
li.dropdown > a.btn-nav:focus {
  border-radius: 0px;
  border-bottom: 5px solid #df2c23;
  background-image: none;
  background: none;
  color: #fff;
}

.nav-active {
  border-radius: 0px;
  border-bottom: 5px solid #df2c23;
  background-image: none;
  background: none;
  color: #fff;
}


.col-header {
  background-image: url("./img/floor-tile--header-1920x485.jpg");  
  background-repeat: no-repeat;
  max-height: 250px;
}

.times {
  color: #ffffff;
  padding-left: 7%;
  padding-top: 20px;
}

.logo {
  background-image: url("./img/logo--header.jpg");
  background-repeat: no-repeat;
  background-position: 0 30px;
  width: 320px;
  height: 260px; 
  margin-left: -20px;
}

.content {
  text-align: center;
  padding-top: 0px;
}

.col-md-4 > h4 {
  color: #df2c23;
}

.col-md-4 > p {
  padding-bottom: 20px;
  min-height: 250px;
  text-align: justify;
}

.col-md-4 > img {
  border: 15px solid #ffffff;
}

.col-md-6 > img {
  border: 15px solid #ffffff;
}

footer {
  background-color: #df2c23;
  padding-top: 60px;
  min-height: 100px;
  margin-top: -40px;
  margin-bottom: -10px;
}

footer > p {
  text-align: center;
  color: #ffffff;
  /*background-color: #df2c23;*/
}

footer > p > a {
  color: #ffffff;
}

.carousel-user {
  /*border: 15px solid #ffffff;*/
  margin-top: 30px;
}

.carousel-big {
  border: 15px solid #ffffff;
  margin-top: 30px;
}


.img-employee {
  border: 15px solid #ffffff;
  margin-left: 5px;
}


/* NAVIGATION */


.nav-custom {
  padding-left: 7%;
  background-color: #222;
  border-color: #080808;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);  
}

/*
.nav-pills > li > a {
  border-radius: 0px;
  background: none;
  color: #fff;
  border-bottom: 5px solid #fff;
}

.nav-pills > li > a:hover {
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 5px solid #df2c23;
  color: #fff;
}

.nav-pills > li > a:visited {
  
  border-radius: 0px;
  border-bottom: 5px solid #df2c23;
  color: #fff;
}

.nav-active {
  border-bottom: solid #df2c23 5px;
}*/

.nav-fix {
  margin-top: -7px;
}

/* ENDOF: NAVIGATION */
/*###################*/
/* SUB-NAVIGATION  */
.carousel-sub-nav {
  padding-top: 7px;
}

.sub-nav > a {
  color: #fff;
}

.glyphicon-chevron-right {
  font-size: 10px;
  color: #df2c23;  
}
/* ENDOF: SUBNAVIGATION */

/* FONT SETTINGS */
h1 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;
}
h3 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
}
h4 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 15px;
}
h5 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
}
p {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18px;
}

p.black {
  color: #000;
  font-weight: 600;
}

p.red {
  color: #df2c23;
  display: inline;
}


div.aboutus > p {
  min-height: 100px;
  text-align: center;
}
/* ENDOF: FONT SETTINGS */

div.newsitem {

  padding-bottom: 25px;

}

div.newsitem > h4 {
  color: #df2c23;
}

div.newsitem > h3 {
  color: #df2c23;
}

div.newsitem {
  text-align: left;
}

div.minheight450 > p{
  min-height: 400px;
}






