

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn-nav {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: -5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;  
  border-radius: 0px;

  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  border-bottom: solid #ffffff 5px;
  text-decoration: none;
}
 a.btn-nav {
  color: #ffffff;
}

.btn-nav:hover {
  text-decoration: none;
  border-bottom: solid #df2c23 5px;
}

.nav-active {
  border-bottom: solid #df2c23 5px;
}

.col-header {
  background-image: url("./img/floor-tile--header-1920x485.jpg");  
  background-repeat: no-repeat;
  max-height: 250px;
}

.times {
  color: #ffffff;
  padding-left: 7%;
  padding-top: 20px;
}

.logo {
  background-image: url("./img/logo--header.jpg");
  background-repeat: no-repeat;
  background-position: 0 30px;
  width: 320px;
  height: 260px; 
  margin-left: -20px;
}

.content {
  text-align: center;
  padding-top: 0px;
}

.col-md-4 > h4 {
  color: #df2c23;
}

.col-md-4 > p {
  padding-bottom: 20px;
  min-height: 200px;
  text-align: justify;
}

.col-md-4 > img {
  border: 15px solid #ffffff;
}

footer {
  background-color: #df2c23;
  padding-top: 60px;
  min-height: 100px;
  margin-top: -40px;
}

footer > p {
  text-align: center;
  color: #ffffff;
  /*background-color: #df2c23;*/
}

footer > p > a {
  color: #ffffff;
}

.nav-custom {
  padding-left: 7%;
}

.carousel-user {
  /*border: 15px solid #ffffff;*/
  margin-top: 30px;
}

.carousel-big {
  border: 15px solid #ffffff;
  margin-top: 30px;
}


.img-employee {
  border: 15px solid #ffffff;
  margin-left: 5px;
}

/* FONT SETTINGS */
h1 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}
h3 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px;
}
h4 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 15.3999996185303px;
}
h5 {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.3999996185303px;
}
p {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714282989502px;
}
/* ENDOF: FONT SETTINGS */










