

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn-nav {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-right: -5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;  
  border-radius: 0px;

  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  border-bottom: solid #df2c23 5px;
  text-decoration: none;
}
 a.btn-nav {
  color: #ffffff;
}

.btn-nav:hover {
  text-decoration: none;
  border-bottom: solid #ffffff 5px;
}

h4.col-md-4 {
  color: #df2c23;
}

.col-header {
  background-image: url("./img/floor-tile--header-1920x485.jpg");  
  background-repeat: no-repeat;
  max-height: 200px;
}

.times {
  color: #ffffff;
  padding-left: 7%;
  padding-top: 20px;
}

.logo {
  background-image: url("./img/logo--header-185x135.jpg");
  background-repeat: no-repeat;
  width: 185px;
  height: 135px; 
  padding: 20px;
}

.content {
  text-align: center;
  padding-top: 70px;
}

footer > p {
  text-align: center;
  /*background-color: #df2c23; */
}

.nav-custom {
  padding-left: 7%;
}













